{{ content_for_header }}
{{ content_for_layout }}
 {% assign cadena = "Ro, Claudia, Morelia, Elena, Iker, Farid" %}
 <h2>
   <ul>
     {% for datos in cadena %}
 <li>{{ datos }} </li>
       {% endfor %}
   </ul>
 </h2>